@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  width: 1438px;
  margin: 0px auto;
}

.container {
  width: 1181px;
  height: auto;
  margin: 0px auto;
  position: relative;
}

.header {
  width: 1438px;
  height: 107.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
}

.header__menu {
  width: 100%;
}

.header__menu ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.one {
  width: 1438px;
  height: 901.84px;
  background: url(/images/img/fon.jpg) 0 0/cover no-repeat;
  margin: 0px auto;
  padding-top: 107.25px;
}

.one__consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.one__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one__phone p {
  width: 168px;
  height: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 10px;
}

.one button {
  width: 282px;
  height: 58.5px;
  border: 1px solid #FFFFFF;
  background: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.one__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 711.87px;
  height: 148px;
  margin: 0px auto;
}

.one__title h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 148px;
  color: #FFFFFF;
}

.one__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 80px;
}

.one__info h1 {
  width: 521px;
  height: 222px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 74px;
  color: #FFFFFF;
}

.one__info-right-block {
  padding: 18.75px 13.27px 11.25px 13.17px;
  width: 380px;
  height: 150px;
  font-family: 'Open Sans';
  background: rgba(217, 217, 217, 0.102);
  -webkit-box-shadow: inset 19.1667px -19.1667px 19.1667px rgba(165, 165, 165, 0.102), inset -19.1667px 19.1667px 19.1667px rgba(255, 255, 255, 0.102);
          box-shadow: inset 19.1667px -19.1667px 19.1667px rgba(165, 165, 165, 0.102), inset -19.1667px 19.1667px 19.1667px rgba(255, 255, 255, 0.102);
  -webkit-backdrop-filter: blur(15.7167px);
          backdrop-filter: blur(15.7167px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  position: relative;
}

.one .up {
  margin-bottom: 66px;
}

.one__info-money-key {
  width: 115px;
  height: 109px;
  position: absolute;
  right: -30px;
  top: -50px;
}

.one__futer-box {
  margin-top: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.one__futer-column {
  width: 314px;
  height: 70px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one__futer-column span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  color: #267842;
}

.one .right {
  width: 217px;
  height: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.one .center {
  width: 299px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.one__futer-border {
  width: 2px;
  height: 50px;
  background-color: #FFFFFF;
  margin: 10px 29px;
}

.why-me__box-why-me {
  width: 734px;
  height: 191px;
  margin: 120px auto 90.5px;
  position: relative;
}

.why-me__box-why-me h2 {
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
}

.why-me__box-why-me h3 {
  width: 367px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: -55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.why-me__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.why-me__benefits {
  width: 1180px;
  height: 280.59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-me__benefits-column {
  width: 380px;
  height: 254px;
  border: 1px solid #267842;
  padding: 46px 21px 15px 23px;
  position: relative;
}

.why-me__benefits-column h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #267842;
}

.why-me__benefits-column p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
}

.why-me__benefits-column span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #267842;
}

.why-me__benefits-column-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 43.65px;
  background-color: #ffffff;
}

.services-and-prices__box-services-and-prices {
  position: relative;
  width: 958px;
  height: 191px;
  margin: 120px 20px 66.5px auto;
}

.services-and-prices__box-services-and-prices h2 {
  width: 978px;
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
  text-align: right;
}

.services-and-prices__box-services-and-prices h3 {
  width: 489px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: 0px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.services-and-prices__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.services-and-prices__bulb {
  width: 190px;
  height: 667px;
  position: absolute;
  top: 0px;
  left: -130.25px;
  opacity: 0.1;
}

.services-and-prices__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1181px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.services-and-prices__box-column {
  width: 580px;
}

.services-and-prices__box-column-block {
  height: 112px;
  text-align: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #1B1919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  background: linear-gradient(91.81deg, rgba(223, 235, 227, 0.3) -4.27%, rgba(223, 235, 227, 0.1) 91.14%);
}

.services-and-prices__box-column-block h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
  width: 420px;
  text-align: center;
  margin: 0px auto;
}

.services-and-prices__box-column-block p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
}

.services-and-prices .title {
  background: rgba(38, 120, 66, 0.5);
  margin-bottom: 0px;
}

.services-and-prices .right {
  background: rgba(38, 120, 66, 0.15);
  color: #267842;
}

.services-and-prices__term {
  height: 49px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #1B1919;
  margin-bottom: 60px;
}

.services-and-prices__term span {
  color: #267842;
  font-size: 28px;
}

.services-and-prices__button {
  text-align: center;
}

.services-and-prices__button button {
  background: #267842;
  width: 379.25px;
  height: 76.17px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.objects__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objects__title-box h3 {
  width: 681px;
  height: 95px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.objects__linea {
  width: 116.48px;
  height: 0px;
  border: 2px solid #267842;
  margin-right: 20.3px;
}

.objects__project {
  width: 641px;
  height: 38px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #267842;
  margin-left: 137.37px;
  margin-bottom: 60px;
}

.objects__project-list {
  width: 1181.25px;
  height: 530.08px;
  background: rgba(38, 120, 66, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.objects__project-list ul {
  width: 50%;
  list-style-type: disc;
  padding: 22.08px 34px 48px 57.25px;
}

.objects__project-list ul li {
  width: 431px;
  height: 92px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.order__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.order__box-order {
  width: 855.73px;
  height: 191px;
  margin: 120px 0px 78px 322.52px;
  position: relative;
}

.order__box-order h2 {
  width: 971px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
}

.order__box-order h3 {
  width: 686px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: -55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.order__instruction {
  width: 1017.97px;
  height: 1104.9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px auto;
}

.order__step {
  width: 278.37px;
  height: 265.83px;
  position: relative;
}

.order__step img {
  position: absolute;
  top: 0px;
  right: 50.24px;
}

.order__step p {
  margin-top: 40px;
  text-align: center;
}

.order__step-number {
  position: absolute;
  top: 0px;
  right: 50.37px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  background: #267842;
  padding-top: 7px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
}

.order__step-circle {
  margin: 0px auto;
  width: 158px;
  height: 158px;
  border-radius: 50%;
  background: #267842;
  opacity: 0.3;
  -webkit-filter: blur(13.5px);
          filter: blur(13.5px);
}

.order__button {
  text-align: center;
}

.order__button button {
  background: #267842;
  width: 379.25px;
  height: 76.17px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.order-works__title-box {
  margin-top: 302.5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-works__title-box h3 {
  width: 804.23px;
  height: 190px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
  margin-bottom: 60px;
}

.order-works__title-box h3 span {
  color: #267842;
}

.order-works__linea {
  width: 261.03px;
  height: 0px;
  border: 2px solid #267842;
  margin-right: 46.22px;
}

.order-works__block-step {
  width: 1181px;
  height: 162px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-works__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-works__step p {
  width: 268px;
  padding-left: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
}

.order-works__step-number {
  width: 80px;
  height: 107px;
  border: 1px solid #267842;
  text-align: center;
  padding-top: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 74px;
  color: #1B1919;
  position: relative;
}

.order-works__step-null {
  width: 3px;
  height: 35px;
  background-color: #FFFFFF;
  position: absolute;
  top: 35px;
  right: -2px;
}

.order-works__button {
  margin-top: 60px;
  text-align: center;
}

.order-works__button button {
  background: #267842;
  width: 379.25px;
  height: 76.17px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.examples__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.examples__box-order {
  width: 855.73px;
  height: 191px;
  margin: 120px 0px 78px 322.52px;
  position: relative;
}

.examples__box-order h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
}

.examples__box-order h3 {
  width: 686px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: -55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.examples__box {
  width: 1181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.examples__box-container {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.reviews__box-order {
  width: 855.73px;
  height: 191px;
  margin: 120px 0px 78px 322.52px;
  position: relative;
}

.reviews__box-order h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
}

.reviews__box-order h3 {
  width: 686px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: -55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.reviews__buttons button {
  width: 80px;
  height: 78px;
  margin-left: 20px;
}

.reviews__box-reviews {
  width: 1181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__column {
  width: 580px;
  height: 382px;
  padding: 56.5px 38.41px 23.5px;
  background: rgba(38, 120, 66, 0.8);
}

.reviews__column p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

.reviews__column p span {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.reviews__column-text {
  height: 269px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reviews__column-star-box {
  height: 56.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .star {
  width: 20px;
  height: 20px;
}

.about__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.about__box-order {
  width: 855.73px;
  height: 191px;
  margin: 120px 0px 78px 322.52px;
  position: relative;
}

.about__box-order h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
}

.about__box-order h3 {
  width: 686px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: -55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.about__block-info {
  width: 1181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__block-info-column {
  width: 50%;
}

.about__block-info-column ul li {
  width: 550px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
  padding-left: 40px;
  padding-bottom: 25px;
  background: url(/images/icons/Polygon.png) no-repeat 0px 10px;
}

.about__block-info-column ul li span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #267842;
}

.about .right {
  position: relative;
  margin-left: 60px;
  margin-top: 50px;
}

.about__p {
  width: 671.75px;
  height: 81px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
}

.about__block-info-circle {
  width: 470.75px;
  height: 470.75px;
  border-radius: 50%;
  border: 1px solid #267842;
  position: relative;
  -webkit-filter: blur(2.5px);
          filter: blur(2.5px);
}

.about__block-info-circle-dot1, .about__block-info-circle-dot2, .about__block-info-circle-dot3, .about__block-info-circle2-dot1, .about__block-info-circle2-dot2, .about__block-info-circle2-dot3 {
  width: 13.75px;
  height: 13.75px;
  background: #267842;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  position: absolute;
}

.about__block-info-circle-dot1 {
  top: 50px;
  left: 73px;
}

.about__block-info-circle-dot2 {
  right: -8px;
  top: 235px;
}

.about__block-info-circle-dot3 {
  bottom: 28px;
  left: 100px;
}

.about__block-info-circle2-dot1 {
  top: 205px;
  left: -6px;
}

.about__block-info-circle2-dot2 {
  top: 100px;
  right: 18px;
}

.about__block-info-circle2-dot3 {
  bottom: 70px;
  right: 36px;
}

.about__block-info-circle2 {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  border: 1px solid #267842;
  position: absolute;
  top: 40px;
  left: 30.12px;
  background: #267842;
  opacity: 0.4;
  -webkit-filter: blur(18.5px);
          filter: blur(18.5px);
}

.about__block-info-circle2-up {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  border: 1px solid #267842;
  position: absolute;
  top: 40px;
  left: 26.12px;
}

.about__block-info-image {
  width: 450.75px;
  position: absolute;
  top: -95px;
  left: 6px;
  border-radius: 60%;
  overflow: hidden;
}

.about__block-info-image img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: -10px;
  left: 20px;
}

.about__block-info-name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  text-align: center;
  padding-top: 13px;
  width: 190px;
  height: 47px;
  background: #267842;
  -webkit-box-shadow: inset 7.9px -7.9px 7.9px rgba(157, 133, 81, 0.1), inset -7.9px 7.9px 7.9px rgba(255, 255, 255, 0.1);
          box-shadow: inset 7.9px -7.9px 7.9px rgba(157, 133, 81, 0.1), inset -7.9px 7.9px 7.9px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.9px);
          backdrop-filter: blur(7.9px);
  border-radius: 5px;
  position: absolute;
  top: 340px;
  left: 40px;
}

.contacts__linea {
  width: 261.03px;
  height: 2px;
  border: 2px solid #267842;
  position: absolute;
  top: 270px;
  left: -130.25px;
}

.contacts__box-order {
  width: 855.73px;
  height: 191px;
  margin: 120px 0px 78px 322.52px;
  position: relative;
}

.contacts__box-order h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 191px;
  color: #FFFFFF;
  -webkit-text-stroke: 2px #267842;
}

.contacts__box-order h3 {
  width: 686px;
  height: 95px;
  position: absolute;
  top: 102.5px;
  left: -55px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 95px;
  color: #1B1919;
}

.contacts__up-block {
  background: url(/images/icons/block-up.png) 0 0/cover no-repeat;
  width: 1181px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.contacts__up-block1 {
  background: url(/images/icons/block-up2.png) 0 0/cover no-repeat;
  width: 1181px;
  height: 55.47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.contacts__up-block2 {
  width: 1181px;
  height: 42.46px;
  background: url(/images/icons/block-up3.png) 0 0/cover no-repeat;
}

.contacts__block {
  width: 1181px;
  height: 487px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contacts__block-left {
  z-index: 2;
  width: 480px;
  position: relative;
}

.contacts__block-left-blur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 480px;
  height: 487px;
  background: linear-gradient(120.99deg, #267842 13.12%, rgba(38, 120, 66, 0.526106) 61.23%, rgba(38, 120, 66, 0.15) 93.12%, rgba(38, 120, 66, 0.2) 106.61%);
  opacity: 0.3;
}

.contacts__block-left-box {
  width: 380px;
  margin: 60px auto 53.8px;
}

.contacts__block-left-box h4 {
  width: 251px;
  height: 37.39px;
  margin: 59.91px auto 5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #1B1919;
}

.contacts__block-left-box p {
  width: 283px;
  height: 24.6px;
  margin: 5px auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #1B1919;
}

.contacts__block-left-box form p {
  width: auto;
  text-align: left;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1B1919;
  margin-top: 30px;
}

.contacts__block-left-box form input {
  width: 380px;
  height: 57.06px;
  background: #FFFFFF;
}

.contacts__block-left-button {
  margin: 30px auto 53.8px;
  text-align: center;
}

.contacts__block-left-button button {
  width: 284.5px;
  height: 64.29px;
  background: #267842;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contacts__block-right {
  width: 701px;
  height: 487px;
  position: relative;
  padding: 58.5px 144px 209.5px 207.22px;
  z-index: 2;
}

.contacts__block-right p {
  width: 295px;
  height: 54px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
}

.contacts__block-right-blur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 701px;
  height: 487px;
  background: linear-gradient(259.58deg, #487940 42.24%, #FFFFFF 95.95%);
  opacity: 0.3;
}

.contacts__block-right-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27px;
  margin-top: 26px;
}

.contacts__block-right-tel p {
  width: 200px;
  height: 27px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #267842;
  margin-left: 10px;
}

.contacts__block-right-tel-img {
  background: url(/images/icons/watsapp.png);
  width: 21.7px;
  height: 21px;
}

.contacts__block-right-email {
  width: 212px;
  height: 27px;
  margin-top: 28px;
}

.contacts__block-right-email p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
}

.contacts__block-right-gps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contacts__block-right-gps p {
  width: 316px;
  height: 27px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #1B1919;
  margin-left: 10px;
}

.contacts__block-right-gps-img {
  background: url(/images/icons/gps.png);
  width: 20px;
  height: 25px;
}

.contacts__block-image {
  position: absolute;
  top: 47.17px;
  left: 423.61px;
  width: 125px;
  height: 360.5px;
}

.contacts__bottom-block {
  width: 1181px;
  height: 67px;
  background: url(/images/icons/bottom-block.png) 0 0/cover no-repeat;
  margin-bottom: 120px;
}

.contacts__bottom-block1 {
  width: 1181px;
  height: 56.53px;
  background: url(/images/icons/bottom-block1.png) 0 0/cover no-repeat;
}

.contacts__bottom-block2 {
  width: 1181px;
  height: 43.27px;
  background: url(/images/icons/bottom-block2.png) 0 0/cover no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 198px;
  background-color: #267842;
}

.footer__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box button {
  background-color: #267842;
  width: 282px;
  height: 58.5px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__ip {
  width: 261px;
  height: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__unp {
  width: 131px;
  height: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__tel {
  width: 168px;
  height: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__email {
  width: 191px;
  height: 25px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
